/* main.css for twittler */
html, body, h1, h2, h3, h4, h5, h6, p, div, ul, ol, li {
	padding: 0;
	border: 0;
	margin: 0;
	font: inherit;
	font-size: 100%;
	list-style-type: none;
}
.title {
	background: #202020;
	display: block;
	/*position: fixed;*/
	width: 100%;
}
.title h1 {
	font-family: 'Roboto Slab', serif;
	font-size: 40px;
	color: #eeeeee;
	margin-left: 10px;
}
.tagline {
	font-weight: 100;
	font-size: 15px;
	margin-top: 27px;
	margin-right: 10px;
	display: block;
	float: right;
}
body {
	background-color: #33cccc;
}
.tweets {
	font-family: sans-serif;
	border-radius: 8px;
	width: 60%;
	background-color: white;
	margin: 20px auto;
	padding-bottom: 20px;
}
.tweets p {
	padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
 }
.new-tweets {
	text-align: center;
	background-color: #eaeaea;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom: 2px solid #9fe2e3;
	border-top: 2px solid #9fe2e3;
	color: #222222;
	width: 100%;
}
.new-tweets:hover {
	background-color: #9fe2e3;
	cursor: pointer;
}
.messages>div div {
	padding: 10px 15px 10px 15px;
	border-bottom: 1px solid #cccccc;
}
.messages>div:last-child {
	border: 0px;
}
.userID {
	font-weight: 400;
	font-size: 20px;
}
.userID:hover {
	color: #33BBFB;
	cursor: pointer;
}
.userID:active {
	color: #1199DD;
	cursor: pointer;
}
.messages .timestamp {
	font-size: 10px;
	float: right;
	padding-top: 8px;
}
.user-specific .users-name {
	font-weight: bold;
	font-size: 28px;
	color: #11AADF;
	margin-bottom: 10px;
}
.user-specific .timestamp {
	font-size: 10px;
}
.user-specific .users-tweets>div {
	border-bottom: 1px solid #cccccc;
}
.user-specific .users-tweets>div:last-child {
	border: 0px;
}
/*.user-specific .get-users-tweets {
	text-align: center;
}
.user-specific .get-users-tweets button{
	text-align: center;
	background-color: #BBBBBB;
	margin-top: 15px;
	padding: 4px;
	border: none;
	border-radius: 3px;
}*/
