/* main.css for twittler */
html, body, h1, h2, h3, h4, h5, h6, p, div, ul, ol, li {
	padding: 0;
	border: 0;
	margin: 0;
	font: inherit;
	font-size: 100%;
	list-style-type: none;
}
.title {
	background: #202020;
	display: block;
	/*position: fixed;*/
	width: 100%;
}
.title h1 {
	font-family: 'Roboto Slab', serif;
	font-size: 40px;
	color: #eeeeee;
	margin-left: 10px;
}
.tagline {
	font-weight: 100;
	font-size: 15px;
	margin-top: 27px;
	margin-right: 10px;
	display: block;
	float: right;
}
body {
	background-color: #33cccc;
}
.tweets {
	font-family: sans-serif;
	border-radius: 8px;
	width: 60%;
	background-color: white;
	margin: 20px auto;
	padding-bottom: 20px;
}
.tweets p {
	padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
 }
.new-tweets {
	text-align: center;
	background-color: #bbbbaa;
	color: #222222;
	width: 100%;
}
.new-tweets:hover {
	background-color: #66ffff;
	cursor: pointer;
}
.messages div {
	border-bottom: 1px solid #cccccc;
	padding: 5px;
	background-color: white;
	width: 95%;
	margin: 0 auto;
}
.userID {
	font-weight: 400;
	font-size: 20px;
}
.userID:hover {
	color: #aa0033;
	cursor: pointer;
}
.timestamp {
	font-style: italic;
	font-size: 8px;
}
.username {
	font-weight: bold;
	font-size: 28px;
	color: #005555;
	margin-bottom: 10px;
}
.users-tweet {
	margin-bottom: 5px;
	border-top: 1px solid #cccccc;
}
