/* main.css for twittler */
html, body, h1, h2, h3, h4, h5, h6, p, div{
	padding: 0;
	border: 0;
	margin: 0;
	font: inherit;
	font-size: 100%;
}
h1 {
	font-family: Ubuntu, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 75px;
}
body {
	background-color: cyan;
}
.tweets div {
	border: solid #555555 3px;
	margin: 2px;
	padding: 3px;
	background-color: white;
	font-family: sans-serif;
}